<% include ../partials/head %>

  <div class="card-body">
    <h5 class="card-title">Welcome, <%=user.name%></h5><br>
    <!--<h5 class="card-title">Email: <%=user.username%></h5><br>--> 
  </div>
<div class="container" style= "background: gray;">
<%if(notes.length!=0) 
for(var i=0; i<notes.length; i++) { %>
  <div class="card card-body mb-2" style= "bottom:2px;">
    
    <h3><%=i+1%><%=". "%><%=notes[i].title%></h3>
    <h4><%=notes[i].text%></h4>
    <a href="/notes/edit-note/<%= notes[i]._id %>" class="btn btn-primary" title="Edit">Edit</a><br>
    <a href="/notes/delete-note/<%= notes[i]._id %>" onclick="return confirm('Are you sure you want to delete this item?');" class="btn btn-secondary" title="Delete">Delete</a>
  </div>
<%} else {%>  
<div class="card card-body mb-2">
<h4>No Notes Found</h4>
<a href="/notes/add-note" class="btn btn-primary" title="add">Add a Note</a><br>
</div> 
<%}%>
</div>
<div class="container" style="left:80%; width: 10px;">
	<a href="/notes/add-note"><span class="fas fa-plus-square" style="font-size: 5em;"></span></a></li>
</div>
<br>
<% include ../partials/footer %>

