
<% include ../partials/head %>

<div class="card mx-auto">
<h2 class="card-header"><%=user.name%>'s Notes <a href="/notes/add-note"><span class="fas fa-plus-square" style="font-size: 1em;"></span></a></h2>
<%if(notes.length!=0) 
for(var i=0; i<notes.length; i++) { %>
  <div class="card-body">
    <h3 class="card-title">
      <%=i+1%><%=". "%><a href="/notes/view-note/<%= notes[i]._id%>"><%= notes[i].title%></a>
    </h3>
  </div>
  <div class="card-footer text-muted"></div>
<%} else {%>
  <div class="card-body">
    <h3 class="card-title">No Notes Listed</h3>
     <a href="/notes/add-note" class="btn btn-primary" title="add">Add a Note</a><br>
  </div> 
<%}%>
</div>

<% include ../partials/footer %>
